<main class="ui container">
  <h1>My hamsters</h1>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Avatar</th>
        <th>State</th>
        <th>Fluffiness</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |hamster|}}
        {{hamster-row hamster=hamster data-test-hamster=true}}
      {{/each}}
    </tbody>
  </table>
</main>
